#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#fff, #999); */
  /* background:#f0f4f9; */
  background:#e9f9d9;
}

* {
  user-select: none;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* navbar start */
.navbar-brand {
  color: #679436
}
.navbar-brand:hover {
  color: #679436
}

.navbar-custom {
  background-color: #ffffff;
}

/* logout button */
.btn-primary {
  color:#679436;
  background-color: transparent;
  border: solid #679436;
  margin: 10px;
}

.btn-primary:hover {
  background-color: #679436;
  border: solid #679436;
}


/* navbar end */

.app {
  overflow: hidden;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #3d3a25;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  color: #fff;
}

/* room code */
h3 {
  color: #666248;
}

.green-class {
  color: #679436;
  font-weight: bold;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.08);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
  
}

.roomCode-input{
	border:none;
	/* color: #fefefe; */
	color: black;
	padding:5px 5px;
	border-radius:10px;
	background:rgb(255, 255, 255);
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #666248;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  display: block;
  width: 100%;
  overflow: auto;
  padding: 10px 0; /* adjust as needed */
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

/* swipe buttons */
.buttons-room {
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  border: solid #679436;
  color:#679436;
  font-size: 18px;
  background-color: transparent;
  transition: 200ms;
  margin: 10px;
  /* font-weight: bolder; */
  width: 160px;
  /* box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10); */
}

.buttons-room:hover {
  color: #fefefe;
  background-color: #679436;
  border: solid #679436;
}


.buttons-left {
  flex-shrink: 0;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  border: solid #679436;
  color:#679436;
  font-size: 18px;
  background-color: transparent;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  /* box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10); */
}

.buttons-left:hover {
  transform: scale(1.05);
  color: #fefefe;
  background-color: #679436;
  border: solid #679436;
}


.buttons-right {
  flex-shrink: 0;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  border: solid #679436;
  color:#679436;
  font-size: 18px;
  background-color: transparent;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  /* box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10); */
}

.buttons-right:hover {
  transform: scale(1.05);
  color: #fefefe;
  background-color: #679436;
  border: solid #679436;
}
@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
